<h1>Questions</h1>
<hr>

{{#each question in controller}}
  <p><b>Subject</b>: {{question.subject}}</p>
  <p><b>Content</b>: {{question.content}}</p>
  <p><b>Category</b>: {{question.category}}</p>

  <p><b>Upvotes</b>: {{question.upvotesLength}}</p>
  <p><b>Updated</b>: {{question.formattedUpdatedAt}}</p>
  <hr>
{{/each}}
