<!DOCTYPE html>
<html>
<head>
  <title>Goat Island Lightflow</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "templates/all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="/">Goat Island Lightflow</a>
    <ul>
      <li><a href="http://www.lighthouselabs.ca/">Lighthouse Labs</a></li>
      <li><a href="http://compass.lighthouselabs.ca/">Compass</a></li>
      <% if current_user %>
        <li><a href="/signout">Log Out</a></li>
      <% end %>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
